/*//////////////////////////////////////////////  header /////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
}

header nav {
  width: 100%;
}

header.logo {
  height: 800px;
  width: 100%;
  background-image: radial-gradient(
      circle at top left,
      rgba(40, 40, 40, 0.79) 0%,
      rgba(40, 40, 40, 0.39) 100%
    ),
    url("/img/photos_principales/maison_finie.jpg") !important ;
  background-size: 100%;
  background: url() no-repeat center center fixed;
  /* Ajout de la propriété avec les préfixes pour tous les moteurs de rendu */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
header .logo_logo {
  height: 140px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  height: 140px;
  /* flex: 1; */
  display: flex;
  justify-content: space-around;
  margin: auto;
  font-weight: bold;
}
header nav ul img {
  height: 60px;
  display: flex;
  justify-content: center;
  /* background-color: magenta; */
}

.logo nav ul li {
  display: flex;
  align-items: center;
}

.logo nav ul li a {
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  font-weight: 700;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.index_header_tittle {
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  /* background-color: lime; */
}

.index_header_tittle_h1 {
  height: 113px;
  width: 100%;
  /* background-color: red; */
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  /* font-weight: 700; */
  text-transform: uppercase;
  color: white;
  /* line-height: 1.1em; */
  /* margin-bottom: 3px; */
}
.index_header_tittle_h1 {
  display: none;
}

.index_header_tittle_h1 h1 {
  height: 100%;
  width: 100%;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  /* font-weight: 700; */
  text-transform: uppercase;
  color: white;
  justify-content: center;
  line-height: 1.1em;
  display: flex;
  font-size: 80px;
}

.index_header_tittle_h2 {
  height: 100px;
  width: 100%;
  /* background-color: red; */
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  /* font-weight: 700; */
  text-transform: uppercase;
  color: white;
}

.index_header_tittle_h2 h2 {
  /* height: auto; */
  width: 80%;
  color: white;
  /* font-weight: 700; */
  text-align: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  /* line-height: 1.6em; */

  letter-spacing: 0.09rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
}

/*/////////////////////////////////////////footer left////////////////////////////////////////////////////*/

footer {
  height: 70rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.index_container_contact {
  height: 100%;
  width: 100%;
  display: flex;
}

.index_contact_left {
  height: 35.5625rem;
  width: 50%;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.index_contact {
  height: 26rem;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  /* background-color:gray; */
}

.index_contact_left_contact_us_title {
  width: 100%;
  height: 9.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
  flex-direction: column;
}

.index_contact_left_contact_us_title p.p7 {
  width: 89%;
  height: 6rem;
  font-size: 2rem;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(100, 94, 94);
  border-radius: 4px;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  color: rgb(100, 94, 94);
}

.index_contact_left_contact_us {
  height: 26rem;
  display: flex;
  flex-direction: column;
}

form.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.name_sname {
  width: 90%;
  height: 4rem;
  margin: auto;
  color: white;
  display: flex;
}

.name {
  width: 49%;
  height: 4rem;
  margin: auto;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.name input {
  width: 100%;
}

.sname {
  width: 49%;
  height: 4rem;
  margin: auto;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.sname input {
  width: 100%;
}

.mail {
  width: 90%;
  height: 4rem;
  margin: auto;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
}
.mail input {
  width: 99%;
}

.content {
  width: 90%;
  height: 10rem;
  margin: auto;
  /* font-size: 20px; */
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
textarea#content {
  width: 98%;
  height: 90%;
  margin: auto;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  font-weight: 600;
  font-size: 0.9rem;
}

input[type="text"] {
  width: 98%;
  padding: 1rem;
  color: black;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  align-items: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  font-weight: 700;
}

input[type="mail"] {
  width: 98%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.textarea textarea {
  width: 98%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;

}

/*bouton envoyer*/

.submit {
  height: 4rem;
  width: 100%;
  font-size: 40px;
  color: white;
  padding: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit button {
  height: 2.5rem;
  width: 9.375rem;
  background-color: orange;
  color: rgb(100, 94, 94);
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid rgb(100, 94, 94);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit button:hover {
  /* background-color: rgb(192, 129, 11); */
  border: 3px solid white;

  color: white;
}

/*/////////////////////////////////////////footer index right partie haut////////////////////////////////////////////////////*/

.index_contact_right {
  height: 569px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.index_contact_right_logo {
  height: 200px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.index_contact_right_logo_lien {
  height: 100%;
  width: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index_contact_right_logo_lien img {
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
}

/*/////////////////////////////////////////footer index right partie bas gauche ////////////////////////////////////////////////////*/

.index_contact_right_logo_end {
  height: 464px;
  width: 100%;
  display: flex;
  flex-direction: row wrap;
}

.index_contact_right_logo_end_content {
  height: 100%;
  width: 20%;
  display: flex;
}
.index_contact_right_logo_end_content2 {
  height: 100%;
  width: 45%;
  display: flex;
}
.index_contact_right_logo_end_content3 {
  height: 100%;
  width: 30%;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index_contact_right_logo_end_content3 iframe {
  height: 70%;
  width: 300px;
  display: flex;
  align-items: center;
}

.index_contact_right_logo_end_geolocation {
  height: 412px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
.index_contact_right_logo_end_geolocation2 {
  height: 412px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  /* background-color:green; */
}

.icon_content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}
.icon_content2 {
  height: 100%;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.icon_content2 p {
  height: 20%;
  width: 100%;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.index_contact_right_logo_end_geolocation_icon {
  height: 80%;
  width: 100px;
  display: flex;
  /* background-color: lime; */
}
.index_contact_right_logo_end_geolocation_icon img {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
}

.index_contact_right_logo_end_geolocation_icon2 {
  height: 80%;
  width: 80%;
  display: flex;
}

.index_contact_right_logo_end_geolocation_icon2 h4 {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
}

/* ////////////////////////////////////////////footer */
footer {
  height: 62rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.footer_end {
  height: 100%;
  /* height: 35rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 1.5em;
}
.index_contact_right_logo_footer_end {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 1.5em;
}

.index_header_tittle_footer_end {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* background-color: aqua; */
}

.footer_menu {
  height: 13rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:green; */
}
.footer_menu ul {
  height: 5rem;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer_menu ul a {
  display: flex;
  flex-flow: row wrap;
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  font-weight: 400;
}

.index_header_tittle_h1_footer_end {
  height: 5rem;
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  align-items: center;
}

.index_header_tittle_h1 {
  display: none;
}

.index_header_tittle_footer_end {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.index_header_tittle_footer_end h1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.index_header_tittle_h2_footer_end {
  height: 4rem;
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  text-transform: uppercase;
  color: white;
}

.index_header_tittle_h2_footer_end h2 {
  /* height: auto; */
  width: 100%;
  color: white;
  /* font-weight: 700; */
  text-align: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  letter-spacing: 0.09rem;
  display: flex;
  justify-content: center;
  font-size: 45px;
}
.copyright {
  height: 7em;
  width: 100%;
  color: white;
  /* font-weight: 700; */
  text-align: center;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif; */
  letter-spacing: 0.09rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.index_contact_right_logo_lien_footer_end {
  height: 100%;
  width: 13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}
.index_contact_right_logo_lien_footer_end a {
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
}

/*////////////////////////////////////////////// page index main /////////////////////////////////////////*/

.index_container {
  height: 100%;
  width: 100%;
  padding: 55px 0px;
  display: flex;
  flex-wrap: row wrap;
}

.index_container_left {
  height: 710px;
  width: 500px;
  background-color: white;
  display: flex;
  align-items: center;
}

.index_container_right {
  height: 667px;
  margin-top: 19px;
  margin-left: 5px;
  width: 100%;
  background-color: rgba(241, 241, 241, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index_container_item_left img {
  height: 100%;
  width: 500px;
  object-fit: cover;
}

.index_container_item_right {
  height: auto;
  width: 100%;
  padding: 25px 25px;
  display: flex;
  align-items: center;
  /* font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 700; */

}

.index_container_right p.p {
  height: 100px;
  width: 100%;
  margin-top: 75px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 700; */

}

.index_container_item_right p.p1 {
  width: 80%;
  margin: 30px 30px;
  font-size: 19px;
  line-height: 33px;
  display: flex;
}

.index_container_item_right p.p2 {
  width: 80%;
  margin: 30px 30px;
  font-size: 19px;
  line-height: 33px;
  display: flex;
  /* align-items: center; */
}

/*////////////////////////////////////////////// page index derniers projets /////////////////////////////////////////*/

.index_container_history {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.index_container_history p.p4 {
  width: 100%;
  height: 300px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 700; */

}

.index_container_history_project {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.index_container_history_lastProject {
  width: 70%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
	font-weight: 700; */
}

.index_container_history_project_1_border {
  height: 400px;
  box-shadow: 5px 5px 20px rgb(224, 224, 224);
  text-shadow: rgb(100, 93, 93);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  

}

.index_container_history_project_2_border {
  height: 400px;
  box-shadow: 5px 5px 20px rgb(224, 224, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.index_container_history_project_3_border {
  height: 400px;
  box-shadow: 5px 5px 20px rgb(224, 224, 224);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.index_container_history_project_1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 6px 15px 5px rgb(224, 224, 224);
}

.index_container_history_project_2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 6px 15px 5px rgb(224, 224, 224);
}
.index_container_history_project_3 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 6px 15px 5px rgb(224, 224, 224);
}

.index_container_history_project_1 {
  width: 25%;
  height: 650px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.index_container_history_project_2 {
  width: 25%;
  height: 650px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.index_container_history_project_3 {
  width: 25%;
  height: 650px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

p.p6 {
  width: 60%;
  height: 306px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  text-shadow: rgb(158, 157, 150) 1px 0 10px;
}

/*page history*/
/* contact simple page history*/
.contact_us_history {
  background: linear-gradient(orange, 30%, rgb(61, 10, 10));
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h6 {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: rgb(45, 45, 45);
  width: 500px;
  height: 100px;
  display: flex;
}

.logo_history {
  background-color: transparent;
  height: 350px;
  width: 700px;
  display: flex;
  text-decoration: none;
}

.logo_content_history img {
  width: 100%;
}
.logo_content_history_left img {
  width: 100%;
}
.logo_content_history_right p {
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  font-size: 19px;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.logo_content_history_right {
  width: 280px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo_content_history_address {
  height: 50px;
  display: flex;
}
.logo_content_history_hour {
  height: 50px;
  display: flex;
}
.logo_content_history_phone {
  height: 50px;
  display: flex;
}

.container_body_history {
  height: 700px;
}

.container_history {
  background-color: rgba(241, 241, 241, 255);
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_history2 {
  background-color: rgba(241, 241, 241, 255);
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_tittle_logo_history {
  background-color: transparent;
  height: 80px;
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  color: rgba(241, 241, 241, 255);
  font-size: 40px;
  color: rgb(45, 45, 45);
}

.history {
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_history {
  background-color: rgba(241, 241, 241, 255);
  width: 100%;
  height: 400px;
  font-size: 22px;
  margin: 40px 40px;
  color: rgb(45, 45, 45);
  /* font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle_history {
  height: 75px;
}

.item {
  width: 20%;
  height: 65px;
  margin: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

/*h4 body page contact*/

.contact_us {
  background: linear-gradient(orange, 30%, rgb(61, 10, 10));
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*responsive*/

@media (max-width: 767px) /* and (-webkit-device-pixel-ratio: 3) */ {
  /*///////////////////////////////// header*/
  header .logo {
    height: 550px;
    width: 90%;
    flex-direction: column;
    /* align-items: center; */
  }

  header .logo_logo {
    height: 150px;
    width: 90%;
  }

  header nav ul {
    height: 400px;
    width: 90%;
    flex-direction: column;
    display: flex;
  }
  header nav ul li {
    width: 90%;
    justify-content: center;
  }

  .index_header_tittle {
    width: 90%;
    height: 300px;
  }

  .index_header_tittle_h2 {
    height: 200px;
    width: 80%;
  }

  /*/////////////////////////////// last project tittle*/

  .index_container {
    height: 1570px;
    width: 100%;
    flex-direction: column;
    /* background-color: chartreuse; */
  }
  .index_container_history {
    height: 1930px;
    width: 90%;
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    /* background-color: chartreuse; */
  }
  .index_container_history p.p4 {
    height: 150px;
    width: 100%;
    flex-direction: column;
    /* background-color: chartreuse; */
    display: flex;
  }
  .index_container_history b {
    height: 100px;
    width: 65%;

    /* background-color: chartreuse; */
    display: flex;
  }
  .index_container_right {
    width: 98%;
  }
  .index_container_right p.p {
    width: 90%;
    margin-left: 22px;
  }
  .index_container_item_right {
    flex-direction: column;
    background-color: rgba(241, 241, 241, 255);
  }

  /*///////////////////////////////////////////////////last projects*/
  .index_container_left {
    height: 300px;
    width: 90%;
    margin-left: 5%;

    /* background-color: white;
    display: flex;
    align-items: center; */
  }
  .index_container_item_left {
    /* height: 710px; */
    width: 100%;
    /* background-color: white;
    display: flex;
    align-items: center; */
  }
  .index_container_item_left img {
    /* height: 710px; */
    width: 100%;
    margin: 0px;
    /* background-color: white;
    display: flex;
    align-items: center; */
  }

  .section {
    width: 90%;
  }

  .index_container_history_project {
    width: 100%;
    height: 1500px;
  }
  .index_container_history_lastProject {
    width: 100%;
    height: 1800px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .index_container_history_project_1 {
    width: 100%;
  }
  .index_container_history_project_2 {
    width: 100%;
  }
  .index_container_history_project_3 {
    width: 100%;
  }
  .index_container_history_project_1_border {
    height: 275px;
  }
  .index_container_history_project_1_border b {
    height: 55px;
  }
  .index_container_history_project_2_border {
    height: 275px;
  }
  .index_container_history_project_2_border b {
    height: 55px;
  }
  .index_container_history_project_3_border {
    height: 275px;
  }
  .index_container_history_project_3_border b {
    height: 55px;
  }

  .contact_tittle_h3 {
    height: 100%;
    width: 100%;
  }
  /*//////////////////////////////////////////footer*/
  footer {
    /* flex-direction: column; */
    height: 1679px;
  }

  footer .index_container_contact {
    flex-direction: column;
    height: 1600px;
  }
  footer .index_contact_left {
    width: 100%;
    height: 675px;
  }
  footer .index_contact_left_contact_us_title p.p7 {
    width: 100%;
    justify-content: center;
  }
  footer .index_contact_left_contact_us {
    width: 100%;
    height: 580px;
    display: flex;
    flex-direction: column;
  }
  footer .name_sname {
    width: 100%;
    height: 150px;
    flex-direction: column;
  }
  footer .name {
    width: 90%;
    height: 150px;
    flex-direction: column;
  }
  footer .sname {
    width: 90%;
    height: 150px;
    flex-direction: column;
  }
  footer .submit {
    width: 90%;
    height: 110px;
    flex-direction: column;
  }

  /*//////////////////////////////////footer geolocation*/

  footer .index_contact_right {
    width: 100%;
    flex-direction: column;
  }
  footer .index_contact_right_logo {
    width: 100%;
  }
  footer .index_contact_right_logo_end {
    /* flex-direction: column; */
    flex-flow: row wrap;
    width: 100%;
    height: 333px;
    /* background-color: lime; */
    display: flex;
  }
  footer .index_contact_right_logo_end_content {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 20%;
    /* height: 200px; */
    /* background-color: lime; */
  }

  footer .index_contact_right_logo_end_content2 {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 80%;
    /* background-color: lime; */
  }

  footer .index_contact_right_logo_end_content3 {
    /* flex-direction: column; */
    flex-flow: row wrap;
    width: 100%;
    height: 400px;
    /* background-color: lime; */
  }
  footer .icon_content2 {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 98%;
    /* height: 400px; */
    /* background-color: lime; */
  }
  footer .index_contact_right_logo_end_geolocation {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 100%;
    /* height: 400px; */
    /* background-color: lime; */
    margin-left: 0px;
  }
  footer .index_contact_right_logo_end_geolocation2 {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 100%;
    /* height: 400px; */
    /* background-color: lime; */
    margin-left: 0px;
  }
  footer .index_contact_right_logo_end_geolocation_icon2 {
    /* flex-direction: column; */
    /* flex-flow: row wrap; */
    width: 98%;
    /* height: 400px; */
    /* background-color: red; */
    margin-left: 0px;
    justify-content: flex-end;
    display: flex;
  }
  .footer_end {
    height: 100px;
  }
}
